@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*::-webkit-scrollbar,
  *::-webkit-scrollbar-thumb {
    width: 20px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 8px solid transparent;
  }
  
  *::-webkit-scrollbar-thumb {        
    box-shadow: inset 0 0 0 10px;
  }
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  color: #fafafa;
  overflow-x: hidden;
  background-color: #121212;
  font-family: "Helvetica";
}


/*PAGE DESIGNATION*/
.logo{
  position: absolute;
  z-index: 10;
  margin-top: 120px;
  margin-left: 24%;
}
.logo img{
   width: 200px;
}
.logo .csd {
  
  background-image: linear-gradient(
    225deg,
    #3d07ff 0%,
    #84ff00 29%,
    #ffa600 67%,
    #ff0000 100%
  );
  background-size: auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: textclip 3s linear infinite;
  font-family: "Futura";
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
}
@keyframes textclip {
  from {
    background-position: 100% left;
  }
  to {
    background-position: 200% center;
  }
}

.logo h3{
   text-align: center;
   font-size: 24px;
}

h2 {
  text-align: center;
  font-size: 30px;
}
a{
  text-decoration: none;
}

  /* header */
  
  .header {
    background-color: transparent;
    box-shadow: 1px 1px 4px 0 rgba(209, 200, 200, 0.544);
    position:fixed;
    font-family: "Futura";
    font-size: 16.5px;
    background: #131313;
    width: 100%;
    z-index: 100;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style:none;
    overflow-y:hidden;

  }
  
  .header li a {
    display: block;
    padding: 20px;
    text-decoration:none; 
    color: #ffffff;
    
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    color:rgb(255, 255, 255);
    font-weight: 600;
  }
  .header ul ul {
    display:none;
    position:sticky;
    position:-webkit-sticky;
    top:60px;
  } 
  .header ul li:hover > ul {
    display:inherit;
  }
  .header ul ul li{
    width:150px;
    float: none;
    display:list-item;
    position:sticky;
    background-color: #fc4c00;
    
  }
  .header ul ul li{
    position:sticky;
    top: -50%;
    left: 150px;
  }
  /*  change this order to change the dropdown symbol */
  li > a:after { content: '+';
  }
  li > a:only-child:after {
    content: '';
  }
  /* menu */
  .menu{
    display: inline-block;
  }
  .header .menu {
    
    max-height: 0;
    display: flex;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    /* float: right; */
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #fafafa;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height:100vh;
    max-width: 100vw;
    display:block;
    padding-left:40%;

   
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float:right;
    }
    .header li a {
      padding: 20px ;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: 100vh;
    }
    .header .menu-icon {
      display: none;
    }
    .header .menu {
      display: flex;
      flex-direction:row;
      
    }
  }
  
  /* Header Closed */


  .logo{
    margin: 0 auto;
      display: block;
      margin-left: 30px;
      margin-top: 120px;
      width: 90%;
  }

  .logo img {

    margin-left:auto;
    margin-right:auto;
    width: 90% !important ;
    max-width: none;
    text-align: center;
  }
  .csd {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }
  .abtimg img {
    float: none;
    display: flex;
  
  }

  .facultytab {
    display: flex;
    padding: 12px;
    margin: 4px 4px;
  }

  .contact .dept {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 50px;
  }
  .space2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .space3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  .logo h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }

  .para{
    text-align:justify;
    display: flex;
    overflow: hidden;

  }
  
/*fade in ANimation*/
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
   .logo {
   opacity:0;  /* make things invisible upon start */
   animation:fadeIn ease-in 1;
   animation-fill-mode:forwards;
   animation-duration:1.5s;
   }
   .abt {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1.5s;
   }

   /*Content*/
  h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #fafafa;
  font-family: "Courier New", Courier;
  }
 .logo img {
  height:160px;
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}
  /*ABOUT*/
  .abt {
  margin: 0 10px 0 10px;
  padding: 8px 16px;
  color: white;
  box-sizing: border-box;
  background: rgba(216, 209, 209, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255,255, 255, 0.3);
  background-image: url("../assets/missedjr.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.para {
  color: #fafafa;
  font-weight: 500;
  font-size: 20px;
  line-height:40px;
  display:flex;
 
}
.abtimg img {
  display: flex;
  flex-direction: row;
  width: 280px;
  height: 280px;
}

.facultytab {
  text-align: center;
  width: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}

td,
th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #4b4646a4;
}
tr:nth-child(odd) {
  background-color: #00000090;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.facultytab tr td:hover {
  background: rgba(71, 71, 71, 0);
  box-shadow: 0 8px 28px 0 rgba(0, 13, 201, 0.692);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 8px;
  color: #fafafa;
}

.facultyabt {
  background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%);
  border: none;
  color: #fff;
  padding: 10px 15px;
  width: 240px;
  height: 80px;
  margin-top: 25px;
  object-position: center;
  border-radius: 35px;
  font-weight: 400;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 2px;
}
.facultyabt a {
  text-decoration: none;
}
.facultyabt a:hover {
  color: rgb(0, 0, 0);
  font-weight: 600;
}
/*===CLOSE ABOUT AND FACULTY TAB=======*/
/*====SLIDES SHOW CONTAINER ======*/
.mySlides {
  content-visibility: visible;
}
img {
  border-radius: 16px;
  margin: 0 10px 0 10px;
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 12px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
  h2 {
    text-align: center;
    font-size: 30px;
    border-bottom: 0.5px solid #005eff;
  }
 
}

/*====CLOSE SLIDES======*/

.dept {
  background-image: linear-gradient(
    225deg,
    #3d07ff 0%,
    #84ff00 29%,
    #ffa600 67%,
    #ff0000 100%
  );
  background-size: auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: textclip 3s linear infinite;
  display: block;
  font-size: 30px;
  margin-top: 70px;
  text-align: center;
}
@keyframes textclip {
  from {
    background-position: 100% left;
  }
  to {
    background-position: 200% center;
  }
}

/*====CLOSE CONTACT========*/

/*______PARTICL JS____*/
.space1 canvas {
  display: flex;
  vertical-align: center;
}

.space1 #particles-js {
  position: relative;
  width: 100vw;
  height: 200vh;
}

.space1 .count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.space1 .js-count-particles {
  font-size: 1.1em;
}

.space1 #stats,
.count-particles {
  user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

.space1 #stats {
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}

.space1 .count-particles {
  border-radius: 0 0 5px 5px;
}

/*=====CLOSE PARTICAL=======*/
 .space1{
  min-height: 100vh;
  min-width: 100vw;
 }

.space2{
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("../assets/csdfami.JPG");
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
 
  filter: brightness(40%);
}
  
.space3{
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("../assets/csd9 (3).JPG");
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
  filter: brightness(40%);
 
}
/*=======CLOSE SPACES========*/

/*============FOOTER=======*/
.footer {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-8px);
}

.menu__link {
  font-size: 1rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/*==============CONTACT SECTION====================*/

section {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 5%;
  padding-bottom: 4%;
  /* background: rgba(20, 20, 20, 0.95); */
  backdrop-filter: blur(1px) saturate(180%);
  background-color: rgba(15, 15, 15, 0.75);
  gap: 40px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

section a {
  text-decoration: none;
  /* outline: 1px solid red; */
}

section a:hover {
  text-decoration: underline;
}

.contact-card {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  outline: 3px solid rgb(255, 0, 0);
  outline-offset: 10px;
}

.mail {
  display: flex;
  align-items: center;
  gap: 0.5px;
}

.mail img {
  width: 9%;
}

.profile img {
  width: 8%;
}

.profile div {
  display: flex;
  align-items: center;
  gap: 0 5px;
}

.location-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
  /* outline: 1px solid red;  */
}

.last-hr {
  width: 100%;
}

.map {
  height: 300px;
  width: auto;
  border-radius: 25px;
}

.address {
  text-align: center;
}

.address span {
  font-size: 1.3rem;
  font-weight: 700;
}

.social-handles {
  display: grid;
  grid-gap: 5px;
}

@media (max-width: 800px) {
  section {
    align-items: center;
    flex-direction: column;
    padding: 7% 9%;
    margin-top: 20%;
    padding-top: 20%;
  }
  .mail img {
    display: flex;
    width: auto;
  }
  .profile img {
    display: flex;
    width: 10%;
  }

  .social-handles {
    display: flex;
    justify-content: space-between;
  }
}
/*====BACK TO HOME====*/
.top {
  width: 30px;
  height: 30px;
  text-align: center;
  object-position: left;
  color: #e9e9e9;
  border: 2px solid #fff;
  right: 93%;
  position: absolute;
  bottom: 20rem;
  transform: translate(50%, 0);
  z-index: 1000;
  opacity: 0.5;
}
.top:hover {
  background-color: white;
  color: black;
  font-size: 24px;
  opacity: 1;
}



/*============SCROLL BAR========================*/
